
.row {
    display: flex;
  }
  
  .row > div {
    flex: 1;
    background: rgb(237, 234, 234);
    border: 1px solid rgb(12, 52, 77);
  }

.text{
    font-weight: 500;
    font-size: x-large;
}

.priority{
    color: rgb(66, 70, 5);
}

.date{
    color: forestgreen;
}

.status{
    cursor: pointer;
}


.undone{
    color: #9b740a;
    font-weight: 200;
}

.done {
    color: #0debc6;
    font-weight: bold;
}

.urgent{
    color: #d41411e8;
    font-weight: 800;
}

.default{
    color: #141661;
    font-weight: 500;
}

li {
    font-size: larger;
}

.undone:hover{
    border-radius: 5px;
    background: #91d1e8;
}